
<div>
  <h2 class="text-center">Centro de datos Comunas</h2>
</div>
<mat-grid-list cols="1" rowHeight="110%">
<div class="text-center">
  <button  mat-fab (click)="opencomuna('1')" class="mx-3 " >
    1
  </button>
  <button  mat-fab (click)="opencomuna('2')" class="mx-3 " >
     2
   </button>
   <button  mat-fab (click)="opencomuna('3')" class="mx-3 " >
     3
   </button>
   <button  mat-fab (click)="opencomuna('4')" class="mx-3 " >
     4
   </button>
   <button  mat-fab (click)="opencomuna('5')" class="mx-3 " >
     5
   </button>
   <button  mat-fab (click)="opencomuna('6')" class="mx-3 " >
     6
   </button>
   <button  mat-fab (click)="opencomuna('7')" class="mx-3 " >
    7
   </button>
   <button  mat-fab (click)="opencomuna('8')" class="mx-3 " >
     8
   </button>
   <button  mat-fab (click)="opencomuna('9')" class="mx-3 " >
     9
   </button>
   <button  mat-fab (click)="opencomuna('10')" class="mx-3 " >
     10
   </button>
   <button  mat-fab (click)="opencomuna('11')" class="mx-3 " >
    11
   </button>
   <button  mat-fab (click)="opencomuna('12')" class="mx-3 " >
     12
   </button>
</div>
</mat-grid-list>

