
#banner
  position: relative
  text-align: center
  color: var(--color)
  width: 100%
  min-height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  background-size: cover
  background-position: center
  background-attachment: fixed
  position: relative
  background-image: url('../../../assets/img/bannerPrincipal.svg')
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  height:30em

#hr
  position:relative
  bottom:8px

.img-bibliobrafia
  position: relative
  background-image: url('../../../assets/img/bannerPrincipal.svg')
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  height:22em
