<div >
  <!-- Carousel wrapper -->
  <div id="carouselDarkVariant" class="carousel slide carousel-fade carousel-dark" data-mdb-ride="carousel" >
    <!-- Indicators -->
    <ol class="carousel-indicators" id="carousel">
      <li data-target="#myCarousel" data-mdb-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-mdb-slide-to="1"></li>
      <li data-target="#myCarousel" data-mdb-slide-to="2"></li>
    </ol>

    <!-- Inner -->
    <div class="carousel-inner">
      <!-- Single item -->
      <div class="carousel-item active">
        <img src="../../../assets/img/juanPa/JuanP.jpg" height="540px" class="d-block w-100"
          alt="Motorbike Smoke" />
        <div class="carousel-caption d-none d-md-block">

        </div>
      </div>

      <!-- Single item -->
      <div class="carousel-item">
        <img src="./../../assets/img/juanPa/JuanP.jpg" style="height: 540px" class="d-block w-100" alt="Mountaintop" />
        <div class="carousel-caption d-none d-md-block">

        </div>
      </div>

      <!-- Single item -->
      <div class="carousel-item">
        <img src="./../../assets/img/juanPa/JuanP.jpg" style="height: 540px" class="d-block w-100"
          alt="Woman Reading a Book" />
        <div class="carousel-caption d-none d-md-block">

        </div>
      </div>
    </div>
    <!-- Inner -->

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselDarkVariant" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselDarkVariant" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Carousel wrapper -->
</div>
<div>
  <img src="../../../assets/img/hr.PNG" style="width:99.9%;position :relative; bottom:8px;" alt="">
</div>
<section class="container">
  <div class="row">
    <div class="col-12">

      <div class="justify-content-center text-center pb-2" style="padding: 0">
        <img src="../../../assets/img/textoInspirador.jpg" width="200px" alt="">
      </div>
      <!-- <h1 class="text-center pt-3"><strong style="color:#1922a3; font-family: Roboto Flex">Texto inspirador!</strong></h1> -->

    </div>
  </div>
</section>
<img src="../../../assets/img/hr.PNG" width="99.9%" height="auto" alt="">
<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-stepper linear #stepper animationDuration="2500">
        <mat-step state="panorama" label="Facebook">
          <div class="row">
            <div class="col-4">
              <div class="card">
                <div class="card-body">
                  <div class="fb-post" href="https://www.facebook.com/100086709365259/videos/840064510587321"
                    width="300" height="250"></div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <div class="card-body">
                  <div class="fb-post" href="https://www.facebook.com/100086709365259/videos/840064510587321"
                    width="300" height="250"></div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <div class="card-body">
                  <div class="fb-post" href="https://www.facebook.com/100086709365259/videos/840064510587321"
                    width="300" height="250"></div>
                </div>
              </div>
            </div>
          </div>
        </mat-step>
        <mat-step state="panorama" label="Facebook">
          <div class="row">
            <div class="col-4">
              <div class="card">
                <div class="card-body">
                  <div class="fb-post" href="https://www.facebook.com/100086709365259/videos/498536068909863"
                    width="300" height="250"></div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <div class="card-body">
                  <div class="fb-post" href="https://www.facebook.com/100086709365259/videos/498536068909863"
                    width="300" height="250"></div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <div class="card-body">
                  <div class="fb-post" href="https://www.facebook.com/100086709365259/videos/840064510587321"
                    width="300" height="250"></div>
                </div>
              </div>
            </div>
          </div>
        </mat-step>
        <mat-step state="panorama" label="Facebook">
          <div class="row">
            <div class="col-4">
              <div class="card">
                <div class="card-body">
                  <div class="fb-post" href="https://www.facebook.com/100086709365259/videos/840064510587321"
                    width="300" height="250"></div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <div class="card-body">
                  <div class="fb-post" href="https://www.facebook.com/100086709365259/videos/458721346331457"
                    width="300" height="250"></div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <div class="card-body">
                  <div class="fb-post" href="https://www.facebook.com/100086709365259/videos/458721346331457"
                    width="300" height="250"></div>
                </div>
              </div>
            </div>
          </div>
        </mat-step>

        <ng-template matStepperIcon="panorama">
          <mat-icon>panorama</mat-icon>
        </ng-template>
      </mat-stepper>
    </div>
  </div>

</div>

