<div class="FABMenu">
  <input type="checkbox" checked/>
  <div class="hamburger">
    <div class="dots">
      <span class="first"></span>
      <span class="second"></span>
      <span class="third"></span>
    </div>
  </div>
  <div class="action_items_bar">
    <div class="action_items">
      <span class="first_item mx-1" matTooltipClass="tooltip" matTooltip="Inicio" [routerLink]="['/inicio']" routerLinkActive="router-link-active">
        <i class="material-icons">
        home
        </i>

      </span>
      <span class="second_item" matTooltipClass="tooltip" matTooltip="Contactanos" [routerLink]="['/contacto']" routerLinkActive="router-link-active">
        <i class="material-icons">
        mail
        </i>
      </span>
      <span class="third_item mx-1" matTooltipClass="tooltip" matTooltip="Bibliografia" [routerLink]="['/presentation']" routerLinkActive="router-link-active">
        <i class="material-icons">
        account_box
        </i>
      </span>

      <span mat-raised-button (click)="openBottomSheet()" class="fourth_item mx-1" matTooltipClass="tooltip" matTooltip="Compartir">
        <i class="material-icons">
        share
        </i>
      </span>

    </div>
  </div>
</div>

<a  class="btn-registraduria-pulse btn-registraduria-pulse-border" target="_blank" href="https://wsp.registraduria.gov.co/censo/consultar" class="btn-registraduria-pulse btn-registraduria-pulse-border">
  <i style="font-size: 30px;" class="fa-solid fa-person-booth "></i>
</a>

<a target="_blank" href="https://api.whatsapp.com/send?phone=3148642857&text= Quiero ser parte del cambio. ¿Y a dosquebradas cuando le toca?" class="btn-whatsapp-pulse btn-whatsapp-pulse-border">
  <i class="iconWhatsapp text-white  fab fa-whatsapp"></i>
</a>

<router-outlet></router-outlet>



