<div class="container">
  <div class="row">
  <div class="col-12">
  </div>
    <div class="col-12">
      <mat-tab-group  mat-align-tabs="center">
        <mat-tab class="nav-link" [routerLink]="['/presentation']" routerLinkActive="router-link-active"  label="bibliobrafia">

          <div class="d-flex justify-content-center my-2">
            <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/B-lipaiZII8"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          </div>
        </mat-tab>

        <mat-tab label="estudios">aqui van los estudios</mat-tab>
        <mat-tab label="metas">Content 3</mat-tab>
      </mat-tab-group>

    </div>
  </div>
</div>
