<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="color: #b0cde3;" class="shadow-lg" >
      <mat-icon >home</mat-icon><span class="px-1" style="font-family: 'IBM Plex Sans', sans-serif;">  Menu</span>
    </mat-toolbar>
    <mat-nav-list>
     <div >
      <p class="font-weight-light text-white"></p>
      <a class="mat-list-item " mat-list-item  (click)="refresh()" >envios de emails</a>
      <a class="mat-list-item " mat-list-item [routerLink]="['/admin/centro-datos']"  routerLinkActive="router-link-active" >Centro de datos</a>
      <a class="mat-list-item " mat-list-item [routerLink]="['/admin/firmas']"  routerLinkActive="router-link-active" >Firmas</a>
      <a class="mat-list-item " mat-list-item  (click)="cerrar()" >cerrar</a>
     </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class=" shadow-lg"  >
      <button
      style="color:black"
        type="button"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon    aria-label="Sidenav toggle icon">menu</mat-icon>
      </button>
      <div class="d-flex justify-content-center align-items-center">
        <mat-icon>supervised_user_circle</mat-icon>
        <span style="font-family: 'IBM Plex Sans', sans-serif;" class="px-1">Administrador</span>

       </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
