<div id="contenedor" class="container">
  <div class="row">
    <div id="colmn1" class="col-6 ">
      <div id="contentImg">
        <img class="img" src="../../../assets/img-format-webp/fondocontact.webp" width="119%" height="auto" height="970px">
      </div>
    </div>
    <div id="colmn2" class="col-6 text-center">

      <div class="card shadow-lg pl-0 pr-0 pb-4  bg-white rounded-lg">

        <div style="text-align: center; "><img id="imgsoyjuanapa" class="" src="../../../assets/img/juanpablo.png"
            width="25%" height="auto" alt="Card image cap"></div>
        <form id="form" [formGroup]="form">

          <div class="justify-content-center">
            <mat-form-field class="m-3" appearance="fill">
              <mat-label>Nombres</mat-label>
              <mat-icon matSuffix>person</mat-icon>
              <input formControlName="nombres" matInput>
            </mat-form-field>
            <mat-form-field class="m-3" appearance="fill">
              <mat-label>Apellidos</mat-label>
              <mat-icon matSuffix>person</mat-icon>
              <input formControlName="apellidos" matInput>
            </mat-form-field><br>

            <mat-form-field class="m-3" appearance="fill">
              <mat-label>Documento</mat-label>
              <mat-icon matSuffix>chrome_reader_mode</mat-icon>
              <input type="number" formControlName="documento" matInput>
            </mat-form-field>

            <mat-form-field class="example-full-width m-3" appearance="fill">
              <mat-label>Celular</mat-label>
              <input maxlength="10" #numero type="tel" matInput formControlName="celular" placeholder="305-437-5375">
              <mat-icon matSuffix>phone</mat-icon>
              <mat-hint>{{numero.value.length}} / 10</mat-hint>
            </mat-form-field><br>

            <mat-form-field class="m-3" appearance="fill">
              <mat-label>Sitio votación </mat-label>
              <mat-select formControlName="sitio_votacion">
                <mat-optgroup *ngFor="let sitio of sitios_votacion_data" [label]="sitio.sector">
                  <mat-option (click)="sitiosChange(lugar)" *ngFor="let lugar of sitio.sitio" [value]="sitio">
                    {{lugar.lugar}}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
              <mat-icon matSuffix>domain</mat-icon>
            </mat-form-field>

            <mat-form-field class="m-3" appearance="fill">
              <mat-label>Barrio donde vive </mat-label>
              <mat-select formControlName="barrio">
                <mat-option *ngFor="let barrio of barrios" [value]="barrio.nombre_barrio">
                  {{barrio.nombre_barrio}}
                </mat-option>
              </mat-select>
              <mat-icon matSuffix>home</mat-icon>
            </mat-form-field><br>

            <div id="eres-lider" class="radio-btn-hidden">
              <label id="example-radio-group-label">¿Eres lider?</label><br>
              <mat-radio-group formControlName="lider" >
                <mat-radio-button class="mx-2 example-margin" value="true">SI</mat-radio-button>
                <mat-radio-button class="example-margin" value="false">NO</mat-radio-button>
              </mat-radio-group>
              <br>
            </div>


            <div id="cedula-dosquebradas" class="radio-btn-hidden">
              <div class="columns">
                <label id="example-radio-group-label">¿tu cedula es de dosquebradas?</label><br>
                <mat-radio-group formControlName="ciudadano_dosque" >
                  <mat-radio-button class="mx-2 example-margin" value="true">SI</mat-radio-button>
                  <mat-radio-button class="example-margin" value="false">NO</mat-radio-button>
                </mat-radio-group>
              </div>
              <br>
            </div>

          </div>

          <div class="contenedorRecapt">
            <ngx-recaptcha2 class="g-recaptcha" #captchaElem [siteKey]="siteKey" formControlName="recaptcha">
            </ngx-recaptcha2>
          </div>
          <br>
          <div class="d-flex justify-content-center">
            <button (click)="submit($event)" mat-stroked-button [style.width]="'250px'" [style.height]="'45px'"
              [style.background]="'white'" color="primary">
              <span *ngIf="!loading" style="font-size:12 ;"> Únete
                <mat-icon style="top: 6px;  position: relative;color: green;">check</mat-icon> </span>
              <div *ngIf="loading" class="justify-content-center d-flex">
                <mat-spinner diameter="25" strokeWidth="3" mode="indeterminate"></mat-spinner>
              </div>
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
