#contentImg{
  position: relative;
  right: 115px;
}

mat-icon{
  color: black;
}


@keyframes shine {
  0% {
    background-position: 0;
  }

  60%{
    background-position: 525px;
  }

  100% {
    background-position: 525px;
  }
}
